<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900">
      <div class="form p-10 text-white">
        <form action="/create" method="post">
          <input
            class="block rounded-md outline-none w-full px-5 py-2 bg-zinc-800"
            type="text"
            placeholder="title goes here"
            name="title"
          />
          <textarea
            class="block rounded-md outline-none w-full px-5 py-2 resize-none bg-zinc-800 mt-2"
            placeholder="write your task details here"
            name="details"
          ></textarea>
          <input
            class="mt-2 bg-blue-600 px-5 py-2 rounded-md"
            type="submit"
            value="create task"
          />
        </form>
      </div>
      <div class="tasks p-10 flex gap-3 flex-wrap">
        <!-- Running loop for each of the file under folder(e.g. files) -->
        <% if(files.length > 0) { %> <% files.forEach(function(val) { %>
        <div class="task min-w-72 px-3 py-4 bg-zinc-800 rounded-md">
          <h1 class="text-white text-3xl tracking-tighter"><%= val %></h1>
          <div class="flex w-full justify-between items-center mt-3">
            <div class="mt-3 flex gap-4">

                <!-- Read More Button -->
            <a class="text-blue-500 inline-block" href="/file/<%= val %>"
              >Read More.</a
            >

            <!-- Editing a file -->
            <a class="text-white bg-yellow-600 rounded-md px-2 py-1"  href="/edit/<%= val %>">Edit Filename</a>

            <!-- Deleting a file from the frontend -->
            <form action="/delete" method="post" style="display: inline">
              <input type="hidden" name="deletefile" value="<%= val %>" />
              <button type="submit" class=" bg-red-500 text-white px-2 py-1 rounded-md ">Delete</button>
            </form>
        </div>
          </div>
        </div>
        <% }) %> <% } else { %>
        <h3 class="text-zinc-600">No tasks yet.</h3>
        <% } %>
      </div>
    </div>
  </body>
</html>

